<header
  class="sticky top-0 z-40 backdrop-blur border-b dark:border-slate-500/[0.2] w-full dark:bg-slate-900/75"
>
  <div class="m-3 mx-auto my-0 py-4 px-8 md:px-16 lg:container">
    <div class="flex items-center justify-between">
      <a [routerLink]="['/']">
        <span class="text-sky-500 font-bold">Medium Clone</span>
      </a>
      <nav class="hidden md:flex space-x-10 text-sm leading-6 font-semibold">
        <a
          [routerLink]="['/']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="main-nav-link"
          >Home</a
        >
        <ng-template [ngIf]="user" [ngIfElse]="loggedOut">
          <a
            [routerLink]="['/login']"
            routerLinkActive="active"
            class="main-nav-link"
            >New Article</a
          >
          <a
            [routerLink]="['/login']"
            routerLinkActive="active"
            class="main-nav-link"
            >Settings</a
          >
          <a
            [routerLink]="['/login']"
            routerLinkActive="active"
            class="main-nav-link"
            >{{ user.username }}</a
          >
        </ng-template>
        <ng-template #loggedOut>
          <a
            [routerLink]="['/login']"
            routerLinkActive="active"
            class="main-nav-link"
            >Sign In</a
          >
          <a
            [routerLink]="['/register']"
            routerLinkActive="active"
            class="main-nav-link"
            >Sign Up</a
          >
        </ng-template>
      </nav>
    </div>
  </div>
</header>
