<div
  class="sticky top-0 z-40 w-full backdrop-blur flex-none transition-colors duration-500 lg:z-50 lg:border-b lg:border-slate-900/10 dark:border-slate-50/[0.06] bg-white/95 supports-backdrop-blur:bg-white/60 dark:bg-transparent"
>
  <div
    class="border-b border-slate-900/10 lg:px-8 dark:border-slate-300/10 mx-4 lg:mx-0"
  >
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
      <div
        class="flex justify-between items-center py-6 md:justify-start md:space-x-10"
      >
        <div class="flex justify-start lg:w-0 lg:flex-1">
          <a href="#" class="font-bold text-sky-500">
            <span class="sr-only">Medium Clone</span>
            Medium Clone
          </a>
        </div>
        <div class="-mr-2 -my-2 md:hidden">
          <button
            type="button"
            class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
            aria-expanded="false"
          >
            <span class="sr-only">Open menu</span>
            <!-- Heroicon name: outline/menu -->
            <svg
              class="h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
          </button>
        </div>
        <nav
          class="hidden md:flex space-x-10 items-center justify-end md:flex-1 lg:w-0"
        >
          <a
            href="#"
            [routerLink]="['/']"
            routerLinkActive="active"
            class="text-base font-medium text-gray-500 dark:text-white hover:text-sky-500 dark:hover:text-sky-400 active"
          >
            Home
          </a>
          <ng-template [ngIf]="isLoggedIn" [ngIfElse]="loggedOut">
            <a
              href="#"
              class="text-base font-medium text-gray-500 dark:text-white hover:text-sky-500 dark:hover:text-sky-400"
            >
              New Article
            </a>
            <a
              href="#"
              class="text-base font-medium text-gray-500 dark:text-white hover:text-sky-500 dark:hover:text-sky-400"
            >
              Settings
            </a>
            <a
              href="#"
              class="text-base font-medium text-gray-500 dark:text-white hover:text-sky-500 dark:hover:text-sky-400"
            >
              Klae
            </a>
          </ng-template>
          <ng-template #loggedOut>
            <a
              href="#"
              class="text-base font-medium text-gray-500 dark:text-white hover:text-sky-500 dark:hover:text-sky-400"
            >
              Sign In
            </a>
            <a
              href="#"
              class="text-base font-medium text-gray-500 dark:text-white hover:text-sky-500 dark:hover:text-sky-400"
            >
              Sign Up
            </a>
          </ng-template>
        </nav>
      </div>
    </div>

    <!-- <div
    class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden"
  >
    <div
      class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50"
    >
      <div class="pt-5 pb-6 px-5">
        <div class="flex items-center justify-between">
          <div>
            Medium Clone
          </div>
          <div class="-mr-2">
            <button
              type="button"
              class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
            >
              <span class="sr-only">Close menu</span>
              <svg
                class="h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  </div>
</div>
